@font-face {
    font-family: 'Switch';
    src: url('NINTENDOSWITCHUI.ttf');
}

header {
    background-color: #D54E21;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Switch";
    font-size: x-large;
                                                
}

header a {
    color: black;
    text-decoration: none;
    
}

footer {
    background-color: #D54E21;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Switch";
    font-size: x-large;
    margin-top: auto;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D3D3D3;
}

#content {
    flex: 1;
}

footer table,
header table {
    text-align: center;
    width: 100%;
}

.error {
    background-color: rgba(255, 0, 0, 1);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

#content table {
    text-align: center;
    width: 50%;
    border-collapse: collapse;
}

#content th {
    background-color: #3465af;
    color: black;
    border: 1px white;
    border: 1px solid white;
}

#content td {
    border: 1px solid #3465af;
}

#home {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Switch";
    font-size: medium;
                                                     
}

img {
    width : 300px;
}
